<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <group ns="localizer" >
        <!--&lt;!&ndash;    <node pkg="plane_loc" type="localizer_node" name="localizer" output="screen">&ndash;&gt;-->
        <param name="settings" value="$(find plane_loc_2)/cfg/settings.yml" />
        <param name="map_topic" value="/mapper/map" />
        <param name="score_thresh" value="1.271436e+07" />
        <param name="score_diff_thresh" value="0.0" />
        <param name="distinct_thresh" value="4" />
        <param name="matched_ratio_thresh" value="4.415676e-01" />
        <param name="trans_diff_thresh" value="1.5" />
        <param name="ang_diff_thresh" value="15.0" />
        <!--&lt;!&ndash;    </node>&ndash;&gt;-->
    </group>
</launch>
